<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.mondo.collaboration.security.increment.policy.Policy" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.mondo.collaboration.security.increment.policy.Policy" id="org.mondo.collaboration.security.increment.policy.Policy">
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectAll"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectRoot"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectRootWithId"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsInputs"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsOutputs"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsParams"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsTimers"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsFaults"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsVariables"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsMainSubsystems"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectWTC"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectIO"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectNotIO"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectInput"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectOutput"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectFault"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectParam"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectTimer"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectVariable"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectSubsystemWithName"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectIOFaultTimerVariable"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.attributeenabled"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.lockParameterValues"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectAllObjectsWithoutRoot"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectAllObjects"/>
    </group>
  </extension>
  <extension id="org.mondo.collaboration.security.increment.policy.Policy_consequence" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.mondo.collaboration.security.increment.policy.Policy_consequence" id="org.mondo.collaboration.security.increment.policy.Policy_consequence">
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.strongConsequenceOnObject_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.strongConsequenceOnAttribute_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.strongConsequenceOnReference_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.weakConsequenceOnAttribute"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.weakConsequenceOnReference"/>
    </group>
  </extension>
  <extension id="org.mondo.collaboration.security.increment.policy.Policy_domination" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.mondo.collaboration.security.increment.policy.Policy_domination" id="org.mondo.collaboration.security.increment.policy.Policy_domination">
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominationOnObject_of_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominationOnAttribute_of_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominationOnReference_of_0"/>
    </group>
  </extension>
  <extension id="org.mondo.collaboration.security.increment.policy.Policy_domination_higher_priority" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.mondo.collaboration.security.increment.policy.Policy_domination_higher_priority" id="org.mondo.collaboration.security.increment.policy.Policy_domination_higher_priority">
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominationOnObject_of_default"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominationOnAttribute_of_default"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominationOnAttribute_of_weak"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominationOnReference_of_default"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominationOnReference_of_weak"/>
    </group>
  </extension>
  <extension id="org.mondo.collaboration.security.increment.policy.Policy_domination_same_priority" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.mondo.collaboration.security.increment.policy.Policy_domination_same_priority" id="org.mondo.collaboration.security.increment.policy.Policy_domination_same_priority">
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.resolution"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominatedExplicitJudgementOnObject_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominatedExplicitJudgementOnAttribute_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominatedExplicitJudgementOnReference_at_1"/>
    </group>
  </extension>
  <extension id="org.mondo.collaboration.security.increment.policy.Policy_effective_judgement" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.mondo.collaboration.security.increment.policy.Policy_effective_judgement" id="org.mondo.collaboration.security.increment.policy.Policy_effective_judgement">
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgementOnObject"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgementOnObject_at_default"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgementOnObject_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgementOnAttribute"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgementOnAttribute_at_default"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgementOnAttribute_at_weak"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgementOnAttribute_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgementOnReference"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgementOnReference_at_default"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgementOnReference_at_weak"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgementOnReference_at_1"/>
    </group>
  </extension>
  <extension id="org.mondo.collaboration.security.increment.policy.Policy_explicit_judgement" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.mondo.collaboration.security.increment.policy.Policy_explicit_judgement" id="org.mondo.collaboration.security.increment.policy.Policy_explicit_judgement">
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.explicitJudgementOnObject"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.explicitJudgementOnAttribute"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.explicitJudgementOnReference"/>
    </group>
  </extension>
  <extension id="org.mondo.collaboration.security.increment.policy.Policy_helper_pattern" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.mondo.collaboration.security.increment.policy.Policy_helper_pattern" id="org.mondo.collaboration.security.increment.policy.Policy_helper_pattern">
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.readWriteOperation"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.restrictRootAsset"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.restrictRootUser"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.enableIOAsset"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.enableIOUser"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.restrictNotIOAsset"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.restrictNotIOUser"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.restrictIOAsset"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.restrictIOUser"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.allUsers"/>
    </group>
  </extension>
  <extension id="org.mondo.collaboration.security.increment.policy.Policy_judgement" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.mondo.collaboration.security.increment.policy.Policy_judgement" id="org.mondo.collaboration.security.increment.policy.Policy_judgement">
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.judgementOnObject_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.judgementOnObject_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.judgementOnAttribute_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.judgementOnAttribute_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.judgementOnReference_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.judgementOnReference_at_1"/>
    </group>
  </extension>
  <extension id="org.mondo.collaboration.security.increment.policy.Policy_resolved_judgement" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.mondo.collaboration.security.increment.policy.Policy_resolved_judgement" id="org.mondo.collaboration.security.increment.policy.Policy_resolved_judgement">
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.resolution"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominatedExplicitJudgementOnObject_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominatedExplicitJudgementOnObject_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominatedExplicitJudgementOnAttribute_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominatedExplicitJudgementOnAttribute_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominatedExplicitJudgementOnReference_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.dominatedExplicitJudgementOnReference_at_1"/>
    </group>
  </extension>
</plugin>
