<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension point="org.eclipse.ui.handlers">
    <handler class="org.mondo.collaboration.policy.ui.RulesExecutableExtensionFactory:org.mondo.collaboration.policy.ui.handler.GenerationHandler" commandId="org.mondo.collaboration.policy.ui.handler.GenerationCommand"/>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command id="org.mondo.collaboration.policy.ui.handler.GenerationCommand" name="Generate Patterns"/>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:#TextEditorContext?after=org.eclipse.xtext.ui.editor.outline.QuickOutline">
      <command commandId="org.mondo.collaboration.policy.ui.handler.GenerationCommand" style="push"/>
    </menuContribution>
  </extension>
  <extension id="org.mondo.collaboration.security.increment.policy.Judgement" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.mondo.collaboration.security.increment.policy.Judgement" id="org.mondo.collaboration.security.increment.policy.Judgement">
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgement"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.judgement_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.judgement_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.judgement_at_2"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.relaxedJudgement_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.relaxedJudgement_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgement_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgement_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgement_at_2"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.domination_of_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.domination_of_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.domination_by_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.domination_by_2"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.strongConsequence_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.strongConsequence_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.strongConsequence_at_2"/>
    </group>
  </extension>
  <extension id="org.mondo.collaboration.security.increment.policy.Policy" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.mondo.collaboration.security.increment.policy.Policy" id="org.mondo.collaboration.security.increment.policy.Policy">
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.contains"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectAll"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectRoot"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectRootWithId"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsInputs"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsOutputs"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsParams"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsTimers"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsFaults"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsVariables"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.referenceitsMainSubsystems"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectWTC"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectIO"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectNotIO"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectInput"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectOutput"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectFault"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectParam"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectTimer"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectVariable"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectSubsystemWithName"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectIOFaultTimerVariable"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.attributeenabled"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.lockParameterValues"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectAllObjectsWithoutRoot"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.objectAllObjects"/>
    </group>
  </extension>
  <extension id="org.mondo.collaboration.security.increment.policy.Policy_gen" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.mondo.collaboration.security.increment.policy.Policy_gen" id="org.mondo.collaboration.security.increment.policy.Policy_gen">
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.readWriteOperation"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.restrictRootAsset"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.restrictRootUser"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.enableRootAsset"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.enableRootUser"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.enableIOAsset"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.enableIOUser"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.restrictNotIOAsset"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.restrictNotIOUser"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.restrictIOAsset"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.restrictIOUser"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.allUsers"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.explicitJudgement"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgement"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.judgement_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.judgement_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.relaxedJudgement_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgement_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.effectiveJudgement_at_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.domination_of_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.domination_by_1"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.resolution"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.strongConsequence_at_0"/>
      <query-specification fqn="org.mondo.collaboration.security.increment.policy.strongConsequence_at_1"/>
    </group>
  </extension>
</plugin>
